:root{
    --azul-dnc: #0C70F2;
    --preto-dnc: #303030;
    --cinza-hover: #c9c9c9;
    --fonte-padrao: 'Inter';
}

body{
    margin:0px;
    padding:0px;
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0) 24.84%), #303030;
    background-repeat: no-repeat;
}

#menu{
    display: flex;
    width: 55%;
    justify-content: space-around;
    align-items: center;
    margin-right: 15%;
}


#principal{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--preto-dnc);
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
}

#principal button{
    margin-right: 5%;
    width: 80px;
    height: 40px;
    border: 0px;
    background: var(--azul-dnc);
    box-shadow: 3px 2px 4px rgba(12, 112, 242, 0.25);
    text-align: center;
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

#principal a{
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

    #principal a:hover{
        color: var(--cinza-hover);
    }


/* Seção Principal do Site */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

header{
    color: #ffffff;
    font-family: var(--fonte-padrao);
}

header h1{
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 100px;
}

header .invert{
    background-color: var(--preto-dnc);
    font-weight: Bold;
    padding: 5px;
}

/* Formulário */

form{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 30px;
    font-weight: 600;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

form input {
    background: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 0px;
    width: 630px;
    height: 56px;

    font-family: var(--fonte-padrao);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(57, 57, 57, 0.5);
}

form label{
    margin: 10px 0px 10px 0px;
}

form input::placeholder{
    padding-left: 17px;
}


.checkbox-itens input{
    width: 20px;
    height: 22px;
    margin-right: 8px;
}

.checkbox-itens{
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    margin-top: 10px;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

input[type="submit"]{
    background: rgba(12, 112, 242, 0.9);
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    border-radius: 10px;
    width: 630px;
    height: 56px;
    font-family: var(--fonte-padrao);
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-top: 80px;
    cursor: pointer;
}

/* Footer */

footer{
    width: 100%;
    background-color: var(--azul-dnc);
}

footer .linha1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer ul{
    list-style: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

footer h5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--preto-dnc);
    font-family: var(--fonte-padrao);
    font-weight: 800;
    font-size: 25px;
    color: #FFFFFF;
    width: 120px;
    height: 48px;
    border: 0px;
    border-radius: 10px;
}

footer ul li{
    font-family: var(--fonte-padrao);
    font-weight: 600;
    font-size: 25px;
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    list-style: none;
}

footer ul li a:hover{
    color: var(--cinza-hover);
}


#sobre{
    background-color: var(--preto-dnc);
    font-family: var(--fonte-padrao);
    font-weight: 800;
    font-size: 25px;
    width: 176px;
    height: 48px;
    border: 0px;
    border-radius: 10px;
}

footer ul a{
    color: #FFFFFF;
    text-decoration: none;
}

.endereco{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.linha2{
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    text-align: center;
}

.linha2 a:hover{
    color:var(--cinza-hover);
}

.linha2 a{
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
}

footer .linha2 a:first-child{
    border-right: 3px solid white;
    padding-right: 10px;
    margin-right: 7px;
}

#escolasText{
    margin-top: 100px;
}

@media only screen and (max-width: 600px){
    #principal{
        flex-direction: column;
        height: auto;
    }

    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    #menu a{
        display: flex;
        align-items: center;
        height: 50px;
    }

    #principal button{
        width: 100%;
        margin-right: 0px;
        margin-top: 20px;
    }

    section h1{
        font-size: 38px;
    }

    section h2{
        font-size: 28px;
        padding: 0px 15px 0px 15px;
    }

    input[type="form"]{
        width: 90%;
        font-size: 20px;
    }

    .checkbox-itens label{
        font-size: 17px;
    }

    .form-group{
        width: 350px;
    }

    input[type="submit"]{
        width: 90%;
    }

    footer .linha1{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    footer .endereco{
        width: 95%;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
    }

    footer .linha2{
        width: 90%;
        font-size: 20px;
        font-weight: 500;
    }
}
